.list-theme .list-container {
  padding: 30px;
  color: white;
}

.list-theme {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.list-theme .header {
  font-weight: bolder;
  position: relative;
  font-size: 40pt;
  width: 80px;
  letter-spacing: 3px;
  padding-left: 20px;
  transform: scale(1.3,1);
}

.middle-and-tail{
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.middle {
  display: inline-block;
}

.tail{
  display: inline-block;
}

.prevStatus {
  border: double;
  width: 40px;
  height: 40px;
}

.list-theme .part-2 {
  text-align: left;
  font-weight: lighter
}

.list-theme .part-3 {
  text-align: left;
  font-weight: lighter
}

.list-theme .list-item {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}

.list-theme .clear {
  clear: both;
}

.smallnumber {
  font-size: 0.5em; 
  margin: -0.25em .25em .25em .25em; 
  display: block; 
  float: right;
}

@media (min-width: 1400px) {
  .list-theme .list-item {
    right: 0;
    text-align: center;
  }

  .list-theme .part-1, .list-theme .part-2, .list-theme .part-3 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .list-theme .part-1 {
    text-align: left;
    float: left;
    width: 35%;
  }

  .list-theme .part-2 {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 30%;
  }

  .list-theme .part-3 {
    text-align: right;
    float: right;
    width: 35%;
  }

  .smallnumber {
    font-size: 0.5em; 
    margin: -0.25em .25em .25em .25em; 
    display: block; 
    float: right;
  }
}